@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "sans-serif";
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Conteúdo principal */
.content {
    flex: 1;
    padding: 20px;
}

/* Footer fixo na parte inferior */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    height: 600px;
}

section.imagem {
    background-size: contain;
    background-repeat: no-repeat;
}

#img {
    background-image: url("../img/imagem_sem_fundo.png");
    background-position: center;
}


.fundo {
    background-color: #8e0000;
    font-size: 40px;
    font-weight: 900;
}

.color {
    color: #ffffff;
    font-size: 40px;
}

.center {
    text-align: center;
    margin-bottom: -4px;
}

.parte1 {
    margin-left: 80px;
    margin-top: 80px;
    margin-right: 80px;
}

.parte2 {
    background-color: #00a78e;
    padding: 80px 80px;
    color: #fff;

}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #111111;
}

.subtitle1 {
    font-size: 26px;
    color: #111111;
    letter-spacing: 2pt;
    padding-bottom: 20px;
}

.parte2 .subtitle1 {
    color: #fff;
}

.parte2 .texto {
    letter-spacing: 1.2pt;
    margin-bottom: 26px;
}

.parte2 .projetos {
    list-style: none;
}

.subtitle2 {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2pt;
    padding-bottom: 15px;
}

.text {
    color: #76778c;
    font-size: 20px;
    letter-spacing: 1.2pt;
    line-height: 32px;
    margin-bottom: 40px;
}

.btn {
    color: white;
    background-color: #8e0000;
    border-radius: 5px;
    padding: 20px 40px;
    text-decoration: none;
    font-weight: 500;
}

.barra-progresso {
    height: 40px;
    width: 400px;
    accent-color: #00a78e;
}

.parte3 {
    color: #00a78e;
    padding: 80px 80px;
}

footer {
    margin: 0;
    background-color: #293651;
    color: #828a9c;
    font-size: 14px;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #111111;
}

.main-footer {
    background-color: #8e0000;
}

.rights {
    background-color: #a80000;
}